.modal {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 2%;
    z-index: 100;
    -webkit-box-shadow: 0 0 20px #999;
    -moz-box-shadow: 0 0 20px #999;
    box-shadow: 0 0 20px #999;
    border-radius: 10px;
    background: white;
    text-align: center;
}
.patient-details {
    width: 50%;
    margin: auto;
    display: table;
}
.label {
    color: #607D8B;
    font-weight: bold;
    display: table-column;
    vertical-align: top;
}
.content {
    display: table-column;
}
input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}
button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
