h2 {
    text-align: center;
    margin: 1em;
}
.patient {
    font-family: "Times New Roman", serif;
    height: 1101px;
    width: 768px;
    margin: auto;
}
.mail-info {
    cursor: pointer;
}
.patient .mail-info:hover {
    color: #607d8b;
}

@media print and (-webkit-min-device-pixel-ratio:0) {
    .patient {
        height: 1101px;
        width: 768px;
    }
}