<dif *ngIf="patient">
    <h2>{{patient.name}} Details</h2>
    <button (click)="goBack()">Close</button>
    <table class="patient-details">
        <tr>
            <td class="label">Name:</td>
            <td class="content">
                <input value="{{patient.name}}" placeholder="name">
            </td>
        </tr>
        <tr>
            <td class="label">Address:</td>
            <td class="content">
                <div>
                    <input value="{{patient.address1}}" placeholder="address1">
                </div>
                <div>
                    <input value="{{patient.address2}}" placeholder="address2">
                </div>
                <div>
                    <input value="{{patient.city}}" placeholder="city">
                </div>
                <div>
                    <input value="{{patient.state}}" placeholder="state">
                </div>
                <div>
                    <input value="{{patient.zip}}" placeholder="zip">
                </div>
            </td>
        </tr>
    </table>
</dif>
